body {
  font-family: 'Ubuntu', sans-serif;
font-family: 'Sawarabi Mincho', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Abril Fatface', cursive;
    background-image: url("../../Quiz-Board/images/classroom3.jpg");
    background-repeat: no-repeat;
    height: 800px;
    width: 1800px;
    background-position: center;
    background-size: cover;
  }
#quiz {
  margin-left: 10px;
  background: #d2def2;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  float: left;
}

input {
  margin-bottom: 20px;
}

#button {
  background: green;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-size: 16px;
  transition-duration: .5s;
  margin-top: 15px;
}

#button:hover {
  background: white;
  border: 1px solid green;
  color: black;
  cursor: pointer;
}

#after_submit {
  visibility: hidden;
  background: #ff5459;
  padding: 10px 20px 10px 20px;
  width: 400px;
  border-radius: 20px;
  float: left;
  margin-left: 20px;
  font-size: 30px;
}

#picture {
  width: 375px;
  height: 245px;
}

#mc {
  display: inline;
}
